<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEAM NAME Team</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">The TEAM NAME Team</h1>
      <p class="subtitle">See below for team member name, role, and a link to their employee profile page.</p>
      <ul id="list-of-employees">
          <li>EMPLOYEE NAME | EMPLOYEE ROLE | <a href="#">PROFILE LINK</a></li>
      </ul>
    </div>
  </section>
  </body>
</html>